{% extends 'base.html' %} {% block content %} {% load static %}
<section class="conteudo">
    <div class="conteudo__item">
        {% if not guitar.foto %}
        <img class="conteudo__item__img" src="{% static 'assets/imagens/img-vazia.png' %}" alt="imagem vazia">
        {% else %}
        <img class="conteudo__item__img" src="{{guitar.foto.url}}" alt="{{guitar.modelo}}">
        {% endif %}
    </div>
    <div class="conteudo__container">
        <div class="conteudo__item-informacao">
            <h2 class="titulo-itens">{{guitar.modelo}}</h2>
            <ul class="item-lista-informacao">
                <li class="lista-informacao__item">Descrição do item</li>
                <li class="lista-informacao__item">R$ {{guitar.preco}}</li>
            </ul>
        </div>
        <div class="conteudo__botoes">
            <a href="{% url 'editar_item' guitar.numero_serie %}"><button
                    class="btn btn-primary btn-lg">Editar</button></a>
            <a href="{% url 'deletar_item' guitar.numero_serie %}"><button
                    class="btn btn-danger btn-lg">Excluir</button></a>
        </div>
    </div>
</section>
{% endblock %}