/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --font-principal: "Poppins", sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom: 6rem;
    min-height: 100%;
    position: relative;
    font-family: var(--font-principal);
}

.principal {
    display: flex;
    gap: 5rem;
    position: relative;
    min-height: 100vh;
}

.menu-lateral {
    margin: 5rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo-grupo {
    font-size: 20px;
    font-family: var(--font-principal);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.cabecalho__titulo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}


.cabecalho__link {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.cabecalho__lista {
    display: flex;
    gap: 5rem;
}

.busca__input {
    font-size: 1rem;
    padding: 0.7rem;
    border: solid 1px black;
    border-radius: 5px;
    width: 14vw;
}

.busca__input::placeholder {
    font-family: var(--font-principal);
}

.galeria {
    margin-top: 5rem;
}

.cards__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card__imagem {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card__informacao {
    text-align: center;
    font-family: var(--font-principal);
    padding: 0.5rem 0rem;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.form-cadastro-guitar {
    width: 50%;
}

.rodape {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
}

.container-rodape {
    background-color: black;
}

.container-rodape__texto {
    text-align: center;
    color: white;
    padding: 1.5rem 0rem;
}